.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.admin-contact-form {
  padding: 50px;
  justify-content: space-around;
}

.contact-card {
  background: black;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  padding: 20px;
  min-width: 200px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
      visibility: hidden;
      width: 120px;
      background-color: #B2f302;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: 110%;
      /* left: 0%; */
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltip-text:before{
border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #B2f302 10px;
  top: -10px;
  content: " ";
  height: 0;
  left: 63%;
  margin-left: -11px;
  position: absolute;
  width: 0;
}